.root {
     -fx-font-size: 16px;
     -fx-background-color: #8f822b;
}

.button {
    -fx-background-color: yellow;
    -fx-font-size: 16px;

}
.button:hover{
     -fx-background-color: green;
}

#clickBtn1 {
    -fx-background-color: orange;
}

.text-area {
        -fx-background-color: deeppink;
        -fx-text-fill: #e30c0c;
        -fx-highlight-text-fill: #211783;
        -fx-highlight-fill: deeppink;
        -fx-control-inner-background: yellow;
}